@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Staatliches&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Helvetica, sans-serif;
}

section {
	/* background-color: #1a1919; */
	background: linear-gradient(-45deg, #195f5f, #202020, #1a1919, #114b4b);
	animation: gradient 15s ease infinite;
	background-size: 300% 300%;
}


li {
	list-style: none;
	background-color: #131313;
}

.row {
	max-width: 1000px;
	margin: 0 auto;
}

.text__color {
	color: #0ec0c0;
}

h1 {
	color: #fff;
}

h2 {
	text-align: center;
}

div {
	color: #fff;
}

button {
	border: none;
}

input {
	border: none;
	outline: none;
}

.icon {
	width: 40px;
}

/* 
	
NAV BAR 

*/

nav {
	background-color: #131313;
}

.nav__row {
	display: flex;
	justify-content: space-between;
	max-width: 1150px;
	align-items: center;
	height: 120px;
	padding-left: 32px;
	margin: 0 auto;
}

.nav__logo--img {
	height: 70px;
}

.nav__link--list {
	display: flex;
}

.nav__link {
	margin: 0 16px;
	text-decoration: none;
	color: white;
	background-color: transparent;
	transition: all 300ms ease;
}

.nav__link:hover {
	color: #0ec0c0 ;
}

.nav__link--main {
	border: 2px solid white;
	color: white !important;
	padding: 12px 32px;
	border-radius: 25px;
}

.nav__link--main:hover {
	border: 2px solid #059191;
	background-color: #059191;
}

/* 
	
LANDING

*/

#landing {
	min-height: calc(100vh - 120px);
	display: flex;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header__title {
	text-align: center;
	font-size: 48px;
}

form {
	display: flex;
	justify-content: center;
	margin-top: 32px;
	max-width: 550px;
	width: 100%;
}

.form__input {
	width: 100%;
	background-color: #fff;
	padding: 8px 24px;
	border-radius: 25px;
	font-size: 20px;
}

.form__btn {
	background-color: #fff;
	border-radius: 25px;
	margin-left: 4px;
}

.featured {
	margin-top: 48px;
}

/* 
	
	BROWSE

*/

#browse {
	min-height: calc(100vh - 120px);
	display: flex;
	align-items: center;
}

.browse__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 32px 0;
}

.browse__search--container {
	display: flex;
	width: 100%;
	max-width: 500px;
	margin-top: 12px;
}

.browse__empty--container {
	margin-top: 48px;
}

.browse__img--wrapper {
	display: flex;
	justify-content: center;
}

.browse__img {
	width: 500px;
}

.browse__msg {
	text-align: center;
	margin-top: 12px;
	font-size: 24px;
	font-weight: 700;
}

.page__container {
	max-width: 15%;
	display: flex;
	align-items: center;
}

.page__input {
	max-width: 32px;
	text-align: center;
	border: none;
	font-size: 16px;
	padding: 8px;
	border-radius: 5px;
}

.page__btn {
	margin: 0 8px;
	padding: 8px 12px;
	border-radius: 5px;
}

/* 
	
	MOVIE

*/

.movie__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.movie {
	width: 25%;
	padding: 24px;
	color: #fff;
}

.movie__wrapper {
	width: 100%;
	height: 320px;
	border: 4px solid #fff;
	border-radius: 4px;
	transition: all 300ms ease;
	position: relative;
}

.movieInfo__feat--wrapper:hover,
.movie__wrapper:hover{
	border: 4px solid #18acac;
}

.movieInfo__feat--wrapper:hover .movie__info--container,
.movie__wrapper:hover .movie__info--container{
	opacity: 1;
	visibility: visible;
}


.movie__info--container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(36, 36, 36, 0.795);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
}

.movie__rating {
	margin-top: 8px;
	font-size: 1.5vw;
	font-weight: 700;
}

.movie__genre {
	margin-top: 5%;
	width: 80%;
	font-size: 1.3vw;
	font-weight: 700;
	text-align: center;
}

.movie__btn {
	background-color: #18acac;
	color: #fff;
	font-size: 1vw;
	border: none;
	margin-top: 26%;
	padding: 8px 16px;
	border-radius: 5px;
	transition: background-color 300ms ease;
}

.movie__btn:hover {
	background-color: #0f8d8d;
}

.movie__img {
	width: 100%;
	height: 100%;
}

.movie__title {
	margin-top: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.movie__year {
	font-style: italic;
	color: rgb(185, 184, 184);
}

/* 
	
	MOVIE INFO

*/

#movie-info {
	min-height: calc(100vh - 120px);
	padding: 0 12px;
}

.movie__info--row {
	padding-top: 80px;
	max-width: 1200px;
	margin: 0 auto;
}

.movieInfo__container{
	display: flex;
	justify-content: space-around;
}


.movieInfo__img {
	border: 4px solid #fff;
	border-radius: 5px;
	height: 460px;
	width: 310px;
}

.movieInfo__feat--section {
	min-width: 250px;
	max-width: 250px;
}

.movieInfo__featured--title {
	padding-left: 12px;
}

.movieInfo__featured--container {
	display: flex;
	flex-wrap: wrap;
}

.movieInfo__featured {
	padding: 12px;
	width: 50%;
}

.movieInfo__feat--wrapper {
	width: 100%;
	height: 140px;
	border: 4px solid #fff;
	border-radius: 4px;
	transition: all 300ms ease;
	position: relative;
}

.featured__btn {
	color: #fff;
	padding: 4px 8px;
	background-color: #0ec0c0;
}

.movieInfo__details {
	display: flex;
	flex-direction: column;
	max-width: 800px
}

.movieInfo__main-details--container {
	display: flex;
}

.movieInfo__details--container {
	margin-left: 32px;
}

.movieInfo__title {
	font-size: 40px;
}


.movieInfo__year {
	margin-top: 32px;
	font-size: 24px;
	font-style: italic;
}

.movieInfo__genre {
	font-size: 24px;
}

.movieInfo__rating--title {
	margin-top: 32px;
	font-size: 20px;
}

.movieInfo__rating--container {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.movieInfo__rating {
	font-size: 20px;
	margin-left: 8px;
}

.movieInfo__icon {
	color: #0ec0c0;
}

.movieInfo__other-details--container {
	margin-top: 20px;
}

.movieInfo__other-details {
	font-style: italic;
	margin-top: 4px;
	color: rgb(214, 214, 214);
}

.movieInfo__people--container {
	margin-top: 24px;
}

.movieInfo__actors--container {
	margin-top: 8px;
}

.movieInfo__people {
	font-size: 14px;
	font-style: italic;
	color: #d6d6d6;
}

.movieInfo__plot--container{
	margin-top: 32px;
}

.plot-summary {
	color: #0cb8b8;
}

.movieInfo__plot {
	color: #d6d6d6;
	margin-top: 4px;
}

/* 
	
	SKELETON LOADING STATES

*/

.movie__skeleton {
	width: 25%;
	padding: 24px;
	color: #fff;
}

.skeleton {
	background: linear-gradient(-90deg, #cfcece, #727071, #494949);
	animation: gradient 3s ease infinite;
	background-size: 400% 400%;
	margin-bottom: 4px;
}

.movie__img--skeleton {
	width: 202px;
  height: 320px;
  /* background-color: rgb(204, 204, 204); */
  margin-bottom: 8px;
	border-radius: 5px;
}

.movie__title--skeleton {
	height: 21px;
  width: 80%;
}

.movie__year--skeleton {
	height: 21px;
  width: 20%;
}

/* 
	
	FOOTER

*/

footer {
	background-color: #131313;
}

.footer__logo {
	height: 50px;
}

.footer__copyright {
	text-align: center;
	font-size: 12px;
	color: #7a7a7a;
	margin-top: 4px;
}

.footer__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
}

.footer__logo--container {
	display: flex;
	flex-direction: column;
}

.footer__links {
	display: flex;
	margin-top: 12px;
}

.footer__link--divider {
	border-right: 1px solid #fff;
	margin: 0 32px;
}

/* 
	
	ANIMATION

*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
